.App {
  margin: 0 auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
};

.jamming {
  font-size: 40px;
  margin: 0 auto;
};

.columns {
  width: 400px;
  height: 676px;
  background-color: rgba(254, 208, 255, 1);
  color: rgba(125, 50, 100, 1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin-top: 57px;
};

