.App {
  margin: 0 auto;
  padding: 0 10% 10%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
}

header .Jamming {
  padding: 0;
  margin: 0 auto;
}

.Jamming {
  font-size: 30px;

}

.ColumnsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  
}
