html {
  background: linear-gradient(180deg, rgba(111, 204, 170, 100) 11.46%, rgba(111, 204, 170, 0) 100%);
  background-repeat: no-repeat;
  height: 100%;
}

body {
  font-family: 'Asap', 'arial', sans-serif;
}

h1, h2, h3 {
  font-family: 'Bungee', 'impact', sans-serif;
  color: #7D3264;
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
}
